@tailwind base;
@tailwind components;
@tailwind utilities;
*{margin:0;padding:0;}
html{overflow-x:hidden;}
body{color:white;font-family:'outfit';overflow-x:hidden;}
::-webkit-scrollbar{display:none;}
